.heading {
  font-size: 20px;
  margin-bottom: 20px;
}
.recentTransactionCard {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 14px;
  align-items: center;
  padding: 10px 24px;
  border-radius: 10px;
  border: 0.5px solid var(--lightGrey);
  box-shadow: 0px 10px 12px -9px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.transactionDate {
  font-size: 12px;
  color: var(--darkGrey);
  margin-top: 5px;
}
.transactionCategory {
  font-weight: 600;
  font-size: 16px;
}
.categoryDetails {
  display: flex;
}
.categoryEmoji {
  margin-right: 5px;
  font-size: 18px;
}

.seeAllTransactions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  align-items: center;
  color: var(--accentColor);
  cursor: pointer;
}
