.wrapper {
  margin-bottom: 5px;
  flex: 1;
}
.container {
  border-width: 2px;
  width: 100%;
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 3px;
  flex-direction: "row";
  align-items: "center";
  display: flex;
  align-items: center;
  flex: 1;
  border-color: var(--lightGrey);
}
.textField {
  font-size: 16px;
  outline: none;
  border: none;
  flex: 1;
  padding-block: 5px;
}
.errorMsg {
  color: red;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 2px;
}
.passwordEndIcon {
  color: var(--darkGrey);
  cursor: pointer;
}
