.accountsContainer {
  margin-left: 10px;
}
.accountsHeading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.textFieldContainer {
  width: 450px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.addButton {
  margin-left: 20px;
  margin-top: 3px;
  min-width: 120px;
}
.accountSubHeading {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
