.selectInputContainer {
  border: 2px solid var(--lightGrey);
  border-radius: 10px;
  padding: 9px 20px;
  margin-bottom: 20px;
  flex: 1;
}
.textArea {
  width: 100%;
  outline: none;
  max-height: 70px;
}
