@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --lightGrey: #ddd;
  --darkGrey: #878787;
  --error: #df6555;
  --success: #3fb53b;

  --accentColor: #002f82;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

.errorColor {
  color: var(--error);
}
.successColor {
  color: var(--success);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--darkGrey);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
  border-radius: 1rem;
  border: 0.1rem solid var(--darkGrey);
}
